In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Show just the header
#see what i got on a data front
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# If it wasn't for the example, I probably would have used purchase ID, but the numbers didn't match, which made me think that ScreenName would probably be better
# Calculate the total number of players in the DataFrame
playercount = len(purchase_data["SN"].unique())
playercount

576

In [4]:
playercount = pd.DataFrame({"Total Players":[playercount]})
playercount

   Total Players
0            576

In [5]:
### Purchasing Analysis (Total)
#Number of Unique Items
UniqueItems = len(purchase_data["Item Name"].unique())
UniqueItems

179

In [6]:
#avg purchase price
AvgPrice = purchase_data["Price"].mean()
AvgPrice

3.050987179487176

In [7]:
#Total Number of Purchases
NumberPurchases = len(purchase_data["Purchase ID"].unique())
NumberPurchases

780

In [8]:
#Total Revenue
TotalRev = purchase_data["Price"].sum()
TotalRev

2379.77

In [9]:
# Place all of the data found into a summary DataFrame
summary_table2 = pd.DataFrame({"Number of Unique Items": UniqueItems,
                              "Average Price": [AvgPrice],
                              "Number of Purchases": NumberPurchases,
                              "Total Revenue": [TotalRev]})
summary_table2

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [10]:
summary_table2["Average Price"] = summary_table2["Average Price"].astype(float).map(
    "${:,.2f}".format)
summary_table2["Total Revenue"] = summary_table2["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
summary_table2

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [11]:
PlayerGender = purchase_data["Gender"].value_counts()
PlayerGender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
# Convert the count Series into a DataFrame - PandaRecap - UGH! - not doing what I hoped it would
playergender_df = pd.DataFrame(PlayerGender)
playergender_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [13]:
players_by_gender = purchase_data['Gender'].value_counts()
players_by_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
#Remove Doubles
#not sure how to do this#I had to Google this for days to get these numbers 
GenderCount = purchase_data.groupby("Gender")["SN"].nunique()
GenderCount

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [15]:
GenderCount_df = pd.DataFrame(GenderCount)
GenderCount_df

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [16]:
GroupedGender = purchase_data.groupby("Gender")
GroupedGender.count()
#Initially had gender in [] and had to Google to try ()
#I need to really hammer the difference between the two into my brain
#####

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [17]:
#Percentage of Players
PlayerGender2 = GenderCount.sum()
PlayerGender2

576

In [18]:
MalePer = (GenderCount["Male"] / PlayerGender2)*100
MalePer

84.02777777777779

In [19]:
FemalePer = (GenderCount["Female"] / PlayerGender2)*100
FemalePer

14.0625

In [20]:
OtherPer = (GenderCount["Other / Non-Disclosed"] / PlayerGender2)*100
OtherPer

1.9097222222222223

In [21]:
PlayerPercent = {"FemalePer", "MalePer", "OtherPer"}
PlayerPercent

{'FemalePer', 'MalePer', 'OtherPer'}

In [22]:
# Place all of the data found into a summary DataFrame
summary_table3 = pd.DataFrame({"Total Count": GenderCount, "Percentage of Players": [FemalePer, MalePer, OtherPer]})
summary_table3

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [23]:
### Purchasing Analysis (Gender)
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

In [24]:
#How many people in each Gender made purchase by person
PurchaseCount = GroupedGender["SN"].count()
PurchaseCount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [25]:
AvgPurPrice = GroupedGender["Price"].mean()
AvgPurPrice

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [26]:
TotalPurPrice = GroupedGender["Price"].sum()
TotalPurPrice

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [27]:
AvgPerPerson = TotalPurPrice / GenderCount
AvgPerPerson
#This is wrong, but I have to figue out how to do it
#once I got rid of doubles, this works now

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [28]:
summary_table4 = pd.DataFrame({"Purchase Count": PurchaseCount, "Average Purchase Price": AvgPurPrice, "Total Purchase Value": TotalPurPrice, "Avg Total Purchase Per Person": AvgPerPerson})
summary_table4.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [29]:
summary_table4["Average Purchase Price"] = summary_table4["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
summary_table4["Total Purchase Value"] = summary_table4["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
summary_table4["Avg Total Purchase Per Person"] = summary_table4["Avg Total Purchase Per Person"].astype(float).map(
    "${:,.2f}".format)
summary_table4

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [30]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
### Age Demographics* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

In [32]:
#create the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]

# Create the names for the four bins
group_names = ("<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+")

In [33]:
purchase_data["AgeDemographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,AgeDemographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [34]:
# Creating a group based off of the bins
Groupbins = purchase_data.groupby("AgeDemographics")
Groupbins
#gotta do a thing to show - per activites
Groupbins.head(15)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,AgeDemographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
...,...,...,...,...,...,...,...,...
187,187,Tyeurith29,8,Male,11,Brimstone,3.65,<10
195,195,Minduri31,39,Male,113,Solitude's Reaver,4.07,35-39
196,196,Maradaran90,35,Female,9,"Thorn, Conqueror of the Corrupted",2.73,35-39
202,202,Phistym51,37,Male,82,Nirvana,4.90,35-39
208,208,Qilanrion65,37,Male,105,Hailstorm Shadowsteel Scythe,3.03,35-39
217,217,Cosadar58,38,Male,25,Hero Cane,4.35,35-39
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+
272,272,Anallorgue57,8,Male,133,Faith's Scimitar,4.09,<10
292,292,Lisasi93,13,Male,70,Hope's End,1.03,10-14
299,299,Lirtossa84,11,Male,164,Exiled Doomblade,1.63,10-14
311,311,Anallorgue57,8,Male,71,Demise,1.61,<10
339,339,Ilmol66,8,Female,124,Venom Claymore,1.29,<10
341,341,Hiasurria41,41,Male,71,Demise,1.61,40+
394,394,Lassassasda30,12,Male,60,Wolf,3.54,10-14
408,408,Raesty92,12,Male,53,Vengeance Cleaver,2.05,10-14
411,411,Lisico81,10,Male,101,Final Critic,4.19,10-14
446,446,Chanossast57,7,Female,119,"Stormbringer, Dark Blade of Ending Misery",4.32,<10
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93,40+
480,480,Salilis27,40,Male,59,"Lightning, Etcher of the King",4.23,40+
481,481,Sondossa69,7,Male,179,"Wolf, Promise of the Moonwalker",4.48,<10
486,486,Eurithphos97,9,Male,53,Vengeance Cleaver,2.05,<10
515,515,Haillyrgue51,7,Male,40,Second Chance,2.52,<10
546,546,Sondadar26,9,Male,159,"Oathbreaker, Spellblade of Trials",3.08,<10
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,40+
575,575,Sondadar26,9,Male,137,"Aetherius, Boon of the Blessed",3.39,<10
667,667,Inasuir29,40,Female,66,Victor Iron Spikes,4.40,40+
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,40+
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,40+
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+

In [35]:
GroupCount = Groupbins["SN"].count()
GroupCount

AgeDemographics
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [36]:
# Creating a group based off of the bins
Groupbins = purchase_data.groupby("AgeDemographics")["SN"].nunique()
Groupbins
#gotta do a thing to show - per activites
Groupbins.head(15)

AgeDemographics
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [37]:
GroupTotal = Groupbins.sum()
GroupTotal

576

In [38]:
PercentPlay = (Groupbins / GroupTotal)*100
PercentPlay

AgeDemographics
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [39]:
summary_table5 = pd.DataFrame({"Total Count": Groupbins, "Percentage of Players": PercentPlay})
summary_table5.head()

                 Total Count  Percentage of Players
AgeDemographics
<10                       17               2.951389
10-14                     22               3.819444
15-19                    107              18.576389
20-24                    258              44.791667
25-29                     77              13.368056

In [40]:
#THERE'S A DIFFERENCE IN THE README AND THE JUPYTER STARTER
#purchasing analysis
#The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group
Groupbins2 = purchase_data.groupby("AgeDemographics")
Groupbins2.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,AgeDemographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
...,...,...,...,...,...,...,...,...
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,15-19
83,83,Aina42,25,Male,12,Dawne,1.02,25-29
85,85,Umolrian85,32,Female,33,Curved Axe,1.16,30-34
94,94,Aina43,19,Male,96,Blood-Forged Skeletal Spine,3.09,15-19
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63,15-19
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92,15-19
105,105,Eulanurin88,27,Male,10,Sleepwalker,1.79,25-29
107,107,Tyaerith73,36,Male,99,"Expiration, Warscythe Of Lost Worlds",1.71,35-39
127,127,Lisossanya98,37,Male,102,Avenger,3.44,35-39
139,139,Lisasi93,13,Male,158,"Darkheart, Butcher of the Champion",2.45,10-14
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,10-14
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
147,147,Hailaphos89,35,Male,24,Warped Fetish,3.81,35-39
155,155,Aillyrin83,10,Female,98,"Deadline, Voice Of Subtlety",2.89,10-14
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
163,163,Sidap51,11,Male,65,Conqueror Adamantite Mace,4.24,10-14
182,182,Lamil79,38,Male,154,Feral Katana,4.40,35-39
187,187,Tyeurith29,8,Male,11,Brimstone,3.65,<10
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+
272,272,Anallorgue57,8,Male,133,Faith's Scimitar,4.09,<10
311,311,Anallorgue57,8,Male,71,Demise,1.61,<10
339,339,Ilmol66,8,Female,124,Venom Claymore,1.29,<10
341,341,Hiasurria41,41,Male,71,Demise,1.61,40+
446,446,Chanossast57,7,Female,119,"Stormbringer, Dark Blade of Ending Misery",4.32,<10
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93,40+
480,480,Salilis27,40,Male,59,"Lightning, Etcher of the King",4.23,40+
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,40+
667,667,Inasuir29,40,Female,66,Victor Iron Spikes,4.40,40+

In [41]:
AvgPurPriceBin = Groupbins2["Price"].mean()
AvgPurPriceBin

AgeDemographics
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [42]:
TotalPurBin = Groupbins2["Price"].sum()
TotalPurBin

AgeDemographics
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [43]:
#I still can't figure out how to get rid of doubles
AvgTotalBin = TotalPurBin / Groupbins
AvgTotalBin

AgeDemographics
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [44]:
summary_table6 = pd.DataFrame({"Total Count": GroupCount, "Average Purchase Price": AvgPurPriceBin, "Total Purchase Value": TotalPurBin, "Avg Total Purchase Per Person": AvgTotalBin})
summary_table6

,Total Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
AgeDemographics,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [45]:
summary_table6["Average Purchase Price"] = summary_table6["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
summary_table6["Total Purchase Value"] = summary_table6["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
#Once I get the number
summary_table6["Avg Total Purchase Per Person"] = summary_table6["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)
summary_table6

,Total Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
AgeDemographics,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [46]:
reduced_purchase_data_df = purchase_data.loc[:, ["SN", "Price"]]
reduced_purchase_data_df.head()

              SN  Price
0        Lisim78   3.53
1    Lisovynya38   1.56
2     Ithergue48   4.88
3  Chamassasya86   3.27
4      Iskosia90   1.44

In [47]:
PurchaseCount = reduced_purchase_data_df["SN"].value_counts()
PurchaseCount

Lisosia93        5
Idastidru52      4
Iral74           4
Yathecal82       3
Lisopela58       3
Hiaral50         3
Raesty92         3
Silaera56        3
Phyali88         3
Ilarin91         3
Phaena87         3
Rarallo90        3
Lisim78          3
Strithenu87      3
Chanastnya43     3
Saistyphos30     3
Haillyrgue51     3
Aelin32          3
Iri67            3
Saedaiphos46     3
Ialallo29        3
Chamjask73       3
Chadolyla44      3
Idai61           3
Tyisur83         3
Lassilsala30     3
Zontibe81        3
Hada39           3
Aina42           3
Inguron55        3
                ..
Aeral97          1
Philodil43       1
Jeyciman68       1
Meosridil82      1
Chamimla73       1
Lisosia66        1
Ardonmol96       1
Aina43           1
Ililsasya43      1
Risty84          1
Lisista63        1
Tyaenasti87      1
Tyaedainu44      1
Pheodai94        1
Lisirra58        1
Eulanurin88      1
Haerithp41       1
Chanirrasta87    1
Laedallo55       1
Heunadil74       1
Ethriel85        1
Sondadarya58     1
Assastnya25      1
Lalossa38        1
Chadossa89       1
Iskosian40       1
Rilaera56        1
Sondistanya61    1
Seuthep89        1
Ilaesudil92      1
Name: SN, Length: 576, dtype: int64

In [48]:
# Create a GroupBy object based upon "SN"
GroupGroup = reduced_purchase_data_df.groupby("SN")
GroupGroup.head()

                  SN  Price
0            Lisim78   3.53
1        Lisovynya38   1.56
2         Ithergue48   4.88
3      Chamassasya86   3.27
4          Iskosia90   1.44
5            Yalae81   3.61
6          Itheria73   2.18
7        Iskjaskst81   2.67
8          Undjask33   1.10
9        Chanosian48   3.58
10         Inguron55   4.74
11      Haisrisuir60   2.67
12      Saelaephos52   4.18
13       Assjaskan73   1.70
14       Saesrideu94   4.86
15         Lisassa64   2.89
16         Lisirra25   2.52
17         Zontibe81   1.76
18         Reunasu60   4.90
19         Chamalo71   4.64
20      Iathenudil29   4.60
21     Phiarithdeu40   1.48
22      Siarithria38   3.81
23          Eyrian71   3.40
24           Siala43   3.19
25         Lisirra87   4.23
26        Lirtossa84   1.61
27           Eusri44   3.09
28            Aela59   4.32
29           Tyida79   3.16
..               ...    ...
750         Iljask75   3.61
751      Lisjaskan36   3.36
752    Mindjasksya61   2.60
753   Frichirranya75   4.23
754  Pheosurllorin41   4.05
755         Raesty92   3.15
756          Ilast79   2.05
757        Eratiel90   4.60
758           Iral74   4.03
759      Tyaelorap29   3.77
760       Aithelis62   2.38
761          Assim27   1.70
762           Asur53   1.44
763     Lassilsala30   1.75
764     Saedaiphos46   4.07
765          Irith83   2.07
766     Aelastirin39   4.14
767          Ilmol66   4.88
768     Assassasta79   4.88
769        Ilosian36   4.58
770       Lirtosia63   1.02
771     Iskossasda43   4.35
772           Asur53   3.58
773           Hala31   1.02
774       Jiskjask80   4.19
775       Aethedru70   3.54
776           Iral74   1.63
777       Yathecal72   3.46
778          Sisur91   4.19
779        Ennrian78   4.60

[780 rows x 2 columns]

In [49]:
# Get the average of each column within the GroupBy object
APP = GroupGroup[["Price"]].mean()
APP.head()

              Price
SN
Adairialis76   2.28
Adastirin33    4.48
Aeda94         4.91
Aela59         4.32
Aelaria33      1.79

In [50]:
#I can sum it too?
TPV = GroupGroup[["Price"]].sum()
TPV.head()

              Price
SN
Adairialis76   2.28
Adastirin33    4.48
Aeda94         4.91
Aela59         4.32
Aelaria33      1.79

In [51]:
#summary_table7 = pd.DataFrame({"Purchase Count": PurchaseCount, "Average Purchase Price": APP, "Total Purchase Value": TotalPurBin, "Avg Total Purchase Per Person": TPV})
#summary_table7

In [52]:
#popularitems
popular = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]
popular.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [53]:
PopularItem = popular.groupby("Item ID")["Item Name"]
PopularItem.head()

0         Extraction, Quickblade Of Trembling Hands
1                                 Frenzied Scimitar
2                                      Final Critic
3                                       Blindscythe
4                                              Fury
5                                         Dreamkiss
6            Interrogator, Blood Blade of the Queen
7                                     Abyssal Shard
8                                         Souleater
9                      Ghastly Adamantite Protector
10                            Singed Onyx Warscythe
11                                    Abyssal Shard
12                          Renewed Skeletal Katana
13                               Bloodlord's Fetish
14                      Bone Crushing Silver Skewer
15                      Deadline, Voice Of Subtlety
16                                    Second Chance
17                                           Devine
18                                          Nirvana
19                Blazefury, Protector of Delusions
20                  Despair, Favor of Due Diligence
21              Sun Strike, Jaws of Twisted Visions
22                                    Warped Fetish
23                                        Severance
24                                       Persuasion
25     Oathbreaker, Last Hope of the Breaking Storm
26                                           Demise
27                      Blood-Forged Skeletal Spine
28        Stormbringer, Dark Blade of Ending Misery
29              Shadow Strike, Glory of Ending Hope
                           ...
731                                           Dawne
732                     Swan Song, Gouger Of Terror
733                              Victor Iron Spikes
734                     Bone Crushing Silver Skewer
736               Freak's Bite, Favor of Holy Might
737               Tranquility, Razor of Black Magic
738                                        Massacre
739                                        Ragnarok
740                    Heartseeker, Reaver of Souls
742                                      Putrid Fan
744                                  Mourning Blade
747                            Warped Iron Scimitar
748                           Vindictive Glass Edge
750                     Malice, Legacy of the Queen
751                                     Stormcaller
752                                    Worldbreaker
754                             Alpha, Oath of Zeal
755                        Haunted Bronzed Bludgeon
756                                     Ritual Mace
757                 Despair, Favor of Due Diligence
758                                       Toothpick
760                           Bonecarvin Battle Axe
761                    Lazarus, Terror of the Earth
764                               Solitude's Reaver
765                                           Alpha
766               Freak's Bite, Favor of Holy Might
774                                    Final Critic
777           Celeste, Incarnation of the Corrupted
778                                    Final Critic
779                                            Dawn
Name: Item Name, Length: 697, dtype: object

In [54]:
PCount = popular["Item ID"].value_counts()
PCount.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [55]:
ItemPrice = popular["Price"]
ItemPrice.head()

0    3.53
1    1.56
2    4.88
3    3.27
4    1.44
Name: Price, dtype: float64

In [56]:
#TotPV = PCount * ItemPrice
#TotPV
#wrong, but trying to figure out